body{
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
  display: inline;
}

.navbar{
  width: 100%;
  display: inline-block;
  height: 69px;
  border-bottom: 1px solid seashell;
  opacity: 0.9;

}
#logo{
  padding: 10px;
  height: 50px;
  float: left;
  align-items: center;
}

ul{
  list-style-type: none;
  float: right;
  align-items: center;
}

.navbar ul li{
  display:inline;
  text-decoration: underline;
  padding: 10px;
}

a {
  color: seashell;
  opacity: 0.9;
}

.banner{
  height: 700px;
  width: 1200px;
  margin: 0 auto;
  background-image: url(images/img-mission-background.jpg);
  opacity: 0.9;
  display: flex;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}

#heading{
  background-color: black;
  width: 100%;
}

.tea {
  margin: 0 auto;
  align-content: center;
  width: 1000px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#tea-pictures {
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
}
#tea-pictures figure{
  width: 25%;
  padding: 0 10px 10px 0;
  box-sizing: border-box;
}
.tea img {
  height: 200px;
  width: 300px;
  padding-bottom: 10px;
}

#location{
  width: 1200px;
  height: 500px;
  background-image: url(images/img-locations-background.jpg);
  margin: 0 auto;
  align-content: center;
}

.locations{
  display: inline-flex;
  align-content: center;
  justify-content: space-between;
  flex-direction: column;
  width:300px;
  height: 300px;
  background-color: black;
  margin: 20px;
}

#newest{
  border: 1px red solid;
}

#location h2 {
  position: relative;
  top: 25px;
}

#impressum {
  height: 200px;
}

footer{
  float: left;
  margin-left: 20px;
}
