body{
  font-family: "Helvetica";
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  text-align: center;
}

.navbar{
  width: 100%;
  display: inline-block;
  height: 69px;
  border-bottom: 1px solid seashell;
  opacity: 0.9;

}
#logo{
  padding: 10px;
  height: 50px;
  float: left;
  align-items: center;
}

ul{
  list-style-type: none;
  float: right;
  align-items: center;
}

.navbar ul li{
  display:inline;
  text-decoration: underline;
  padding: 10px;
}

a {
  color: seashell;
  opacity: 0.9;
}
